<div id="create-adverts">
    <div class="d-flex flex-column justify-content-center">
        <div class="card w-75 h-75 mx-auto">
            <div class="card-body">
                <span class="form-title">
                    New Advert
                </span>

                <form> 
                    <div class="row">
                        <div class="col">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="title" required>Título</label>
                                <input type="text" id="title" name="title" placeholder="Inserta el título de tu anuncio"
                                    class="form-control input-login" [(ngModel)]="advert.title" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="description">Descripción</label>
                                <input type="text" id="description" name="description" class="form-control input-login"
                                    [(ngModel)]="advert.description" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="direction">Dirección</label>
                                <input type="text" id="direction" name="direction" class="form-control input-login"
                                    [(ngModel)]="advert.direction" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="city">Ciudad</label>
                                <input type="text" id="city" name="city" class="form-control input-login"
                                    [(ngModel)]="advert.city" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="country">País</label>
                                <input type="text" id="country" name="country" class="form-control input-login"
                                    [(ngModel)]="advert.country" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="pricepermonth">Precio/mes</label>
                                <input type="number" id="pricepermonth" name="pricepermonth"
                                    class="form-control input-login" [(ngModel)]="advert.pricepermonth" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="meters">Metros cuadrados</label>
                                <input type="number" id="meters" name="meters" class="form-control input-login"
                                    [(ngModel)]="advert.meters" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="rooms">Habitaciones</label>
                                <input type="number" id="rooms" name="rooms" class="form-control input-login"
                                    [(ngModel)]="advert.rooms" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="files">Imágenes</label>
                                <input type="file" id="files" name="files" class="form-control input-login"
                                (change)="onFileChange($event)" multiple/>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="bathrooms">Baños</label>
                                <input type="number" id="bathrooms" name="bathrooms" class="form-control input-login"
                                    [(ngModel)]="advert.bathrooms" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="floor">Planta</label>
                                <input type="number" id="floor" name="floor" class="form-control input-login"
                                    [(ngModel)]="advert.floor" />
                            </div>
                            <div class="form-check mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="garage" name="garage"
                                [checked]="advert.garage == 1" (change)="onCheckboxChange('garage', $event)" >
                                <label class="form-check-label" for="garage">
                                    Garaje
                                </label>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="pricegarage">Precio plaza garaje</label>
                                <input type="number" id="pricegarage" name="pricegarage"
                                    class="form-control input-login" [(ngModel)]="advert.pricegarage" />
                            </div>
                            <div class="form-check mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="balcony" name="balcony"
                                [checked]="advert.balcony == 1" (change)="onCheckboxChange('balcony', $event)" />
                                <label class="form-check-label" for="balcony" >
                                    Balcón
                                </label>
                            </div>
                            <div class="form-check mb-4">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="advert.terrace" value="" id="terrace" name="terrace"
                                [checked]="advert.terrace == 1" (change)="onCheckboxChange('terrace', $event)" >
                                <label class="form-check-label" for="terrace">
                                    Terraza
                                </label>
                            </div>
                            <div class="form-check mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="furnished" name="furnished"
                                [checked]="advert.furnished == 1" (change)="onCheckboxChange('furnished', $event)">
                                <label class="form-check-label" for="furnished">
                                    Amueblado
                                </label>
                            </div>
                        </div>
                    </div>


                    <button type="button" class="btn btn-primary btn-block mb-4"
                        (click)="addNewAdvertButtonClicked()" id="btnCreateAdvert">Crear anuncio</button>
                </form>
            </div>
        </div>
    </div>

</div>