<div class="{{classes}}">
    <div id="coverImageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button *ngFor="let photoUrl of photos; let i = index" type="button" data-bs-target="#coverImageCarousel" attr.data-bs-slide-to="{{i}}" class="{{ (i == 0) ? 'active' : '' }}" attr.aria-current="{{ (i == 0) ? 'true' : 'false' }}" attr.aria-label="Slide {{i}}"></button>
        </div>
        <div class="carousel-inner">
            <div *ngFor="let photoUrl of photos; let i = index" class="{{ (i == 0) ? 'carousel-item active' : 'carousel-item' }}">
                <img src="{{photoUrl}}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#coverImageCarousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#coverImageCarousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>