<div class="card {{classes}}">
    <div class="card-body">
      <h5 class="card-title">{{advert.title}}</h5>
      <p class="card-text">{{advert.description}}</p>
      <p class="card-updated-at">{{advert.updated_at | date : 'HH:mm dd/MM/yyyy'}}</p> 
    </div>
  </div>