<div id="register-background" class="d-flex flex-column justify-content-center">
    <div class="card w-35 h-75 mx-auto">
        <div class="card-body">
            <span class="form-title">
                Registro
            </span>

            <form>
                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Inserta tu dirección" class="form-control input-register" [(ngModel)]="email" required />
                </div>
                <p *ngIf="errors.includes(getEmailEmptyError)" class="error-form">Este campo no puede estar vacío</p>
                <p *ngIf="errors.includes(getEmailNotValidFormat)" class="error-form">El contenido de este campo no es una dirección de correo</p>
                <p *ngIf="errors.includes(getEmailDuplicatedError)" class="error-form">Esta dirección ya se encuentra registrada</p>

                <div class="form-outline mb-4">
                    <label class="form-label" for="pass">Contraseña</label>
                    <input type="password" id="pass" name="pass" class="form-control input-register" [(ngModel)]="pass" required/>
                </div>
                <p *ngIf="errors.includes(getPassEmptyError)" class="error-form">Este campo no puede estar vacío</p>
                <p *ngIf="errors.includes(getPassConfirmPassDistinct)" class="error-form">Ambas contraseñas deben ser iguales</p>

                <div class="form-outline mb-4">
                    <label class="form-label" for="confirmPass">Corfirmar contraseña</label>
                    <input type="password" id="confirmPass" name="confirmPass" class="form-control input-register" [(ngModel)]="confirmPass" required/>
                </div>
                <p *ngIf="errors.includes(getConfirmPassEmptyError)" class="error-form">Este campo no puede estar vacío</p>


                <button type="button" class="btn btn-primary btn-block mb-4"
                    (click)="onRegisterButtonPressed()">Registrar</button>
            </form>

            <div class="container text-center">
                <a href="/auth/login" class="not-account-a">¿Ya tienes una cuenta?</a>
            </div>
        </div>
    </div>
</div>