<div id="see-homes">
    <div class="row mt-4 mb-4 d-flex align-items-center justify-content-center">
        <div class="col-2">
            <div class="form-outline validate-input alert-validate" data-validate="Valid email is required: ex@abc.xyz">
                <label class="form-label" for="email">Estás buscando en...</label>
                <input (keydown.enter)="searchInLocation()" [(ngModel)]="direction" type="text" id="direction"
                    name="direction" placeholder="Inserta tu dirección" class="form-control input-see-homes" />
            </div>
        </div>

        <div class="col-2">
            <div class="form-outline">
                <label class="form-label" for="pass">Encontramos...</label>
                <input [(ngModel)]="found" type="text" id="itemsFound" name="itemsFound"
                    class="form-control input-see-homes" disabled />
            </div>
        </div>

        <div class="col-4 d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col">
                    <div class="form-outline-square input-filters">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                        <input [(ngModel)]="price" id="price" type="number" class="form-control input-filters"
                            name="price" placeholder="500">
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline-square input-filters">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-align-left"></i></span>
                        <input [(ngModel)]="metters" id="metters" type="number" class="form-control input-filters"
                            name="metters" placeholder="140">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 d-flex align-items-center justify-content-center">
            <div class="form-check">
                <input [(ngModel)]="save" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="saveSearch($event)">
                <label class="form-check-label" for="flexCheckDefault">
                    Guardar búsqueda
                </label>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div id="map-data">
                <div #map style="width:100%;height:600px;"></div>
            </div>
        </div>
        <div class="col border-top-01">
            <div class="row">
                <div class="list-options d-flex justify-content-end">
                    <div class="btn-group mx-2 my-2">
                        <button type="button" class="btn btn-outline-secondary" (click)="showInListView(false)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-grid" viewBox="0 0 16 16">
                                <path
                                    d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z">
                                </path>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" (click)="showInListView(true)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="loaded && adverts.length == 0" class="alert alert-warning" role="alert">
                No hay anuncios en la zona seleccionada
            </div>

            <ng-container *ngIf="!showInList">
                <div *ngFor="let advert of adverts" id="card{{advert.id}}" class="card-homes my-4 mx-4"
                    (click)="goToDetail(advert)">
                    <div id="carousel{{advert.id}}" class="carousel slide card-homes-img" data-bs-ride="carousel"
                        data-bs-keyboard="true">
                        <div class="carousel-indicators">
                            <button *ngFor="let photoUrl of advert.photosUrl; let i = index" type="button"
                                attr.data-bs-target="#carousel{{advert.id}}" attr.data-bs-slide-to="{{i}}"
                                class="{{ (i == 0) ? 'active' : '' }}"
                                attr.aria-current="{{ (i == 0) ? 'true' : 'false' }}"
                                attr.aria-label="Slide {{i}}"></button>
                        </div>
                        <div class="carousel-inner">
                            <div *ngFor="let photoUrl of advert.photosUrl; let i = index"
                                class="{{ (i == 0) ? 'carousel-item active' : 'carousel-item' }}">
                                <img src="{{photoUrl}}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" attr.data-bs-target="#carousel{{advert.id}}"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" attr.data-bs-target="#carousel{{advert.id}}"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                    <div class="card-homes-body">
                        <div class="row first-row">
                            <div class="col">Alquiler</div>
                            <div class="col"></div>
                            <div class="col">Apartamento</div>
                        </div>
                        <hr />
                        <div class="row card-homes-title">
                            {{advert.pricepermonth}} €/mes
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-left: 0px; font-size: 10px;">{{advert.rooms}}<img
                                        class="card-homes-icon" src="assets/icons/bed.png" alt="My Happy SVG" /></div>
                            </div>
                            <div class="col">
                                <div class="row" style="margin-left: 0px; font-size: 10px;">{{advert.bathrooms}}<img
                                        class="card-homes-icon" src="assets/icons/bath.png" alt="My Happy SVG" /></div>
                            </div>
                            <div class="col-5">
                                <div class="row" style="margin-left: 0px; font-size: 10px;">{{advert.meters}} m2<img
                                        class="card-homes-icon" src="assets/icons/metters.png" alt="My Happy SVG" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row last-row">
                            <div class="col">Ciudad</div>
                            <div class="col"></div>
                            <div class="col">Dirección</div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="showInList">
                <div *ngFor="let advert of adverts" id="card{{advert.id}}" class="card-homes-in-list my-4 mx-4"
                    (click)="goToDetail(advert)">

                    <div class="row">
                    <div id="carousel{{advert.id}}" class="col carousel slide card-homes-img-in-list" data-bs-ride="carousel"
                        data-bs-keyboard="true">
                        <div class="carousel-indicators">
                            <button *ngFor="let photoUrl of advert.photosUrl; let i = index" type="button"
                                attr.data-bs-target="#carousel{{advert.id}}" attr.data-bs-slide-to="{{i}}"
                                class="{{ (i == 0) ? 'active' : '' }}"
                                attr.aria-current="{{ (i == 0) ? 'true' : 'false' }}"
                                attr.aria-label="Slide {{i}}"></button>
                        </div>
                        <div class="carousel-inner">
                            <div *ngFor="let photoUrl of advert.photosUrl; let i = index"
                                class="{{ (i == 0) ? 'carousel-item active' : 'carousel-item' }}">
                                <img src="{{photoUrl}}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" attr.data-bs-target="#carousel{{advert.id}}"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" attr.data-bs-target="#carousel{{advert.id}}"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                    <div class="col card-homes-body-in-list">
                        <div class="row first-row">
                            <div class="col">Alquiler</div>
                            <div class="col"></div>
                            <div class="col">Apartamento</div>
                        </div>
                        <hr />
                        <div class="row card-homes-title">
                            {{advert.pricepermonth}} €/mes
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-left: 0px; font-size: 10px;">{{advert.rooms}}<img
                                        class="card-homes-icon" src="assets/icons/bed.png" alt="My Happy SVG" /></div>
                            </div>
                            <div class="col">
                                <div class="row" style="margin-left: 0px; font-size: 10px;">{{advert.bathrooms}}<img
                                        class="card-homes-icon" src="assets/icons/bath.png" alt="My Happy SVG" /></div>
                            </div>
                            <div class="col-5">
                                <div class="row" style="margin-left: 0px; font-size: 10px;">{{advert.meters}} m2<img
                                        class="card-homes-icon" src="assets/icons/metters.png" alt="My Happy SVG" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row last-row">
                            <div class="col">Ciudad</div>
                            <div class="col"></div>
                            <div class="col">Dirección</div>
                        </div>
                    </div>
                </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>