#see-homes {
    min-height: calc(100vh - 64px);
    border-top: 1px solid rgba(0,0,0,0.1);
}

#map-data {
    min-height: calc(100vh - 64px);
}

.border-top-01{
    border-top: 1px solid rgba(0,0,0,0.1);
}
.gm-style {
    height: calc(100vh - 64px)!important;
}

#banner {
    min-height: calc(100vh);
    background: linear-gradient(to right, #FCB031, #DD064C);
}

#latest-adverts {
    min-height: calc(40vh);
    padding: 10vh;
}

.text-last-adverts {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8vh;
}

#map-data {
    min-height: calc(40vh);
}

.text-banner {
    font-size: 3rem;
    text-align: center;
    font-family: 'Nexa';
    color: white;
    animation-name: text-banner-appear;
    animation-duration: 4s;
}

@keyframes text-banner-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.input-banner {
    height: 40px;
    background: rgba(221, 6, 76, .1);
    font-size: 18px;
    color: white;
    line-height: 1.2;
    margin-top: 10vh;
    padding: 0 15px;
    outline: none;
    border: none;   
    border-radius: 25px;
    animation-name: text-banner-appear;
    animation-duration: 4s;
}

.container-inputs-banner {
    display: flex;
    justify-content: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    text-align: left;
    font-family: 'Nexa';
    color: rgba(0, 0, 0, 0.1);
    animation-name: text-banner-appear;
    animation-duration: 4s;
  }

.card-homes {
    display: inline-block;
    width: 265px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.card-homes-in-list {
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    display: inline-block;
    width: 90%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}


.card-homes-img {
    height: 150px;
    width: 265px;
    overflow: hidden;
    border-radius: 3px;
    display: inline-block;
}

.card-homes-img-in-list {
    height: 150px;
    width: 265px;
    overflow: hidden;
    border-radius: 3px;
    display: inline-block;
}

.card-homes-body {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    padding: 20px 20px 20px 20px;
    border-radius: 3px;
    background: #fff;
    margin: -20px 12px 0px 12px;
    line-height: 19px;
    font-size: 14px;
    position: relative;
}

.card-homes-body-in-list {
    line-height: 19px;
    font-size: 14px;
}

.card-homes-title {
    margin: 20px 0px 10px 0px;
    font-size: 18px;
    text-align: center;
}

.card-homes-text {
    line-height: 19px;
    font-size: 14px;
}

.card-homes-icon {
    width: 30px;
}

.first-row, .last-row{
    color: rgba(0, 0, 0, 0.55);
    line-height: 1.5;
    font-size: 12px;
}

.col{
    text-align: center;
} 

.btn-outline-secondary{
    border-color: rgb(0, 0, 0, 0.1)!important;
}

.btn-outline-secondary:hover{
    background-color: rgb(0, 0, 0, 0.1)!important;
    border-color: rgb(0, 0, 0, 0.1)!important;

}

#login-background {
    min-height: calc(100vh);
    background: linear-gradient(to right, #FCB031, #DD064C);
}

.input-see-homes {
    height: 30px;
    background: transparent;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.2;
    padding: 0 5px;
    outline: none;
    border: none;
}

.input-filters {
    height: 30px;
    background: transparent;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    line-height: 1.2;
    padding: 0 5px;
    outline: none;
    border: none;
}

.input-see-homes:focus {
    box-shadow: none;
}

.form-label {
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.55);
    line-height: 1.5;
    font-size: 12px;
}

.form-outline {
    border-bottom: 2px solid #d9d9d9;
}

.form-outline-square {
    border: 1px solid rgb(0, 0, 0, 0.1)!important;
    display: inline-flex;
    border-radius: 5px;
}

form {
    padding: 42px 55px 45px 55px;
}

.glyphicon {
    top: 25%;
    height: 1rem;
}

.form-check-label {
    color: rgb(0, 0, 0, 0.55)
}