<nav class="navbar navbar-expand-lg"
    [ngClass]="{'fixed-top': fixedTopbar, 'scrolled': !fixedTopbar || scrolled, 'navbar-light': !fixedTopbar || scrolled, 'no-scrolled': fixedTopbar && !scrolled, 'navbar-dark':fixedTopbar && !scrolled}">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img *ngIf="!fixedTopbar || scrolled" src="assets/icons/main-logo-whitout-text.png" alt="...">
            <img *ngIf="fixedTopbar && !scrolled" src="assets/icons/logo-white-without-text.png" alt="...">

            <span>HOGAR</span> DOCENTE
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentUrl == '/'}" aria-current="page" href="/">HOME</a>
                </li>
                <li class="nav-item"  *ngIf="loginLinkVisible">
                    <a class="nav-link" [ngClass]="{'active': currentUrl == '/auth/login'}" href="/auth/login">LOGIN</a>
                </li>
                <li class="nav-item" *ngIf="registerLinkVisible">
                    <a class="nav-link" [ngClass]="{'active': currentUrl == '/auth/register'}"href="/auth/register">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="seeHomesUserLinkVisible" href="/see/adverts">SEE HOMES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="createAdvertLinkVisible" href="/advert/create">CREATE ADVERT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="editUserLinkVisible" href="/user/edit">USER EDIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="logoutLinkVisible" href="#" (click)="logout()">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>