.navbar {
    height: 64px;
    font-family: nexa;
}

.navbar.scrolled .navbar-brand {
    padding-top: 5px;
}
.navbar .navbar-brand span{
    margin-left: 5px;
}

.navbar.scrolled .navbar-brand {
    color: rgba(0, 0, 0, 0.55);
}
.navbar.scrolled .navbar-brand span{
    color: rgba(0, 0, 0, 0.9);
}

.navbar.no-scrolled .navbar-brand {
    color: rgba(255, 255, 255, 0.55);
}
.navbar.no-scrolled .navbar-brand span{
    color: rgba(255, 255, 255, 0.9);
}



.navbar .navbar-brand img {
    height: 40px;
    width: 40px;
}

.nav-link {
    font-size: 1.25rem;
    text-decoration: none;
}

.scrolled {
    background: white;
}

.no-scrolled {
    background: transparent;
}
