<div class="my-3">
    <h2>User</h2>
    <p>{{user?.email}}</p>
    <p>{{user?.password}}</p>
    <p>{{user?.name}}</p>
    <p>{{user?.lastname}}</p>
    <p>{{user?.created_at}}</p>
    <p>{{user?.photo}}</p>
    <p>{{user?.email}}</p>
</div>