#login-background {
    min-height: calc(100vh);
    background: linear-gradient(to right, #FCB031, #DD064C);
}

.input-login {
    height: 40px;
    background: transparent;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.2;
    padding: 0 5px;
    outline: none;
    border: none;
}

.input-login:focus {
    box-shadow: none;
}

.form-label {
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.55);
    line-height: 1.5;
    font-size: 12px;
}

.form-outline {
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 27px;
}

form {
    padding: 42px 55px 45px 55px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    background: linear-gradient(to left, #FCB031, #DD064C);
    border: none;
    transform: scale(1);
    transition: all 0.1s ease-out;
    border-radius: 25px;
}
.btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, #FCB031, #DD064C);
    transform: scale(1.1);
}

.main-container {
    background-image: url('/assets/images/diseno_estilo_carta.png');
    background-size: cover;
    height: 75vh;
    background-color: #DD064C;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row, .col {
    height: inherit;
    padding-left: 0;
}

.col img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.card {
    border: 0px solid #262262;
}

.col .card-body {
    background-image: url('/assets/images/diseno_formulario.png');
    background-size: 100% 100%;
    border: 1px solid #262262;
    border-radius: 0.25rem;
} 

.not-account-a {
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.55);
    line-height: 1.5;
    font-size: 12px;
}

.w-35 {
    width: 35%!important;
}

.card {
    border-radius: 10px;
}

.form-title {
    display: block;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-top: 44px;
    font-family: MonserratBold;
}
