<div id="login-background" class="d-flex flex-column justify-content-center">
    <div class="card w-35 h-75 mx-auto">
        <div class="card-body">
            <span class="form-title">
                Login
            </span>

            <form>
                <div class="form-outline mb-4 validate-input alert-validate" data-validate="Valid email is required: ex@abc.xyz">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Inserta tu dirección" class="form-control input-login" [(ngModel)]="email" />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="pass">Password</label>
                    <input type="password" id="pass" name="pass" class="form-control input-login" [(ngModel)]="pass" />
                </div>

                <button type="button" class="btn btn-primary btn-block mb-4"
                    (click)="onSignInButtonPressed()" id="btnLogin">Entrar</button>
            </form>

            <div class="container text-center">
                <a href="/auth/register" class="not-account-a">¿Todavía no tienes una cuenta?</a>
            </div>
        </div>
    </div>
</div>
