@media only screen and (max-width: 650px) {
    [class*="col-"] {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    [class*="col-"] {
        width: 100%;
    }
}

#footer {
    background-color: var(--terciary-color);
    color: var(--titles-font-color-alternative);
    padding: 0 60px;
}

.footer-heading {
    font-size: var(--titles-font-size);
    margin: 30px 0;
}

.border-top {
    border-top: 1px solid var(--titles-font-color-alternative-translucent) !important;
}

.copyright {
    color: var(--titles-font-color-alternative-translucent);
    padding: 0;
}

.subheading {
    font-size: 0.9rem;
    color: var(--titles-font-color-alternative-translucent);
}

.footer-form-control {
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.footer-form-control:focus {
    box-shadow: none;
}

.submit {
    width: 50%;
    background-color: transparent;
    color: var(--titles-font-color-alternative);
    border-radius: 0px 5px 5px 0px;
    border: 1px solid var(--titles-font-color-alternative);
}

.submit:focus {
    box-shadow: 0 0 0 0.25rem var(--titles-font-color-alternative-translucent);
}

a {
    color: var(--titles-font-color-alternative-translucent);
}