<div id="footer" class="mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-2">
            <h2 class="footer-heading">SOBRE NOSOTROS</h2>
            <ul class="list-unstyled">
                <li><a href="#" class="d-block">Out story</a></li>
                <li><a href="#" class="d-block">Awards</a></li>
                <li><a href="#" class="d-block">Our Team</a></li>
                <li><a href="#" class="d-block">Career</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h2 class="footer-heading">COMPAÑÍA</h2>
            <ul class="list-unstyled">
                <li><a href="#" class="d-block">Our services</a></li>
                <li><a href="#" class="d-block">Clients</a></li>
                <li><a href="#" class="d-block">Contact</a></li>
                <li><a href="#" class="d-block">Press</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h2 class="footer-heading">RECURSOS</h2>
            <ul class="list-unstyled">
                <li><a href="#" class="d-block">Blog</a></li>
                <li><a href="#" class="d-block">Newsletter</a></li>
                <li><a href="#" class="d-block">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-5">
            <h2 class="footer-heading">SUSCRÍBETE</h2>
            <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                    <input type="text" class="form-control footer-form-control" placeholder="Enter email address">
                    <button type="submit" class="form-control submit">Suscribirme</button>
                </div>
                <span class="subheading">Infórmate de todos las actualizaciones</span>
            </form>
        </div>
    </div>
    <div class="row border-top mt-5">
        <div class="col-6 copyright">
            <p>
                Copyright © 2022 Todos los derechos reservados.
            </p>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>