@font-face {
    font-family: "Monserrat";
    src: local("Monserrat"), url(./assets/fonts/monserrat/Montserrat-Medium.otf) format("truetype");
}
@font-face {
    font-family: "MonserratBold";
    src: local("MonserratBold"), url(./assets/fonts/monserrat/Montserrat-Bold.otf) format("truetype");
}
@font-face {
    font-family: "Nexa";
    src: local("Nexa"), url(./assets/fonts/nexa/NexaRegular.otf) format("truetype");
}


:root {
    --titles-font-size: 1.25rem;
    --titles-font-color: rgba(0, 0, 0, 1);
    --titles-font-color-alternative: rgba(255, 255, 255, 1);
    --titles-font-color-alternative-translucent: rgba(255, 255, 255, 0.6);

    --primary-color: #DD064C;
    --secondary-color: #FCB031; 
    --terciary-color: #262262;
}


body {
    font-family: monserrat !important;
    font-size: 12px !important;
}

a {
    text-decoration: none!important;
}

.input {
    border: 1px solid #262262 !important;
    border-radius: 0.25rem !important;
}

.button {
    background-color: #262262 !important;
    color: white !important;
    border: 1px solid #262262 !important;
    border-radius: 0.25rem !important;
}