#login-background {
    min-height: calc(100vh);
    background: linear-gradient(to right, #FCB031, #DD064C);
}

h1, h2 {
    font-family: 'Nexa';
    color: white;
    text-align: center;
}

h1 {
    font-size: 120px;
}
h2 {
    font-size: x-large;
}