<div id="login-background" class="d-flex flex-column justify-content-center">
 <div class="w-75 mx-auto">
    <h1>404</h1>
    <h2>Lo sentimos, pero no hemos podido encontrar esta página</h2>
 </div>
</div>
