<div id="advert-detail" class="w-75 mx-auto">
    <coverimage-advert-detail [advertId]="advert.id" [classes]="'my-3 shadow p-3 mb-5 bg-white rounded'"></coverimage-advert-detail>
    <summary-advert-detail [advert]="advert" [classes]="'my-3 shadow p-3 mb-5 bg-white rounded'"></summary-advert-detail>
    <map-advert-detail [advert]="advert" [classes]="'my-3 shadow p-3 mb-5 bg-white rounded'"></map-advert-detail>
</div>