<div id="banner" class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="container">
        <div class="text-banner">Encuentra tu hogar para el curso escolar</div>
    </div>
    <div class="container-inputs-banner">
        <input (keyup)="getCitiesFromInputText()" (keydown)="searchHomesInCity($event)" id="ubication" type="text" class="input-banner w-25"
            placeholder="Ubicación" list="dynamicUbications" />
        <datalist id="dynamicUbications">
            <option *ngFor="let ubication of ubications" [value]="ubication">{{ubication}}</option>
        </datalist>
    </div>
</div>

<div id="latest-adverts">
    <div class="text-last-adverts">Últimos hogares añadidos</div>
    <div class="row">
        <div *ngFor="let advert of latestAdverts" id="card{{advert.id}}" class="card-homes my-4 mx-4" (click)="goToDetail(advert)">
            <div id="carousel{{advert.id}}" class="carousel slide card-homes-img" data-bs-ride="carousel"
                data-bs-keyboard="true">
                <div class="carousel-indicators">
                    <button *ngFor="let photoUrl of advert.photosUrl; let i = index" type="button"
                        attr.data-bs-target="#carousel{{advert.id}}" attr.data-bs-slide-to="{{i}}"
                        class="{{ (i == 0) ? 'active' : '' }}" attr.aria-current="{{ (i == 0) ? 'true' : 'false' }}"
                        attr.aria-label="Slide {{i}}"></button>
                </div>
                <div class="carousel-inner">
                    <div *ngFor="let photoUrl of advert.photosUrl; let i = index"
                        class="{{ (i == 0) ? 'carousel-item active' : 'carousel-item' }}">
                        <img src="{{photoUrl}}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" attr.data-bs-target="#carousel{{advert.id}}"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" attr.data-bs-target="#carousel{{advert.id}}"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


            <div class="card-homes-body">
                <div class="row first-row">
                    <div class="col">Alquiler</div>
                    <div class="col"></div>
                    <div class="col">Apartamento</div>
                </div>
                <hr />
                <div class="row card-homes-title">
                    {{advert.pricepermonth}} €/mes
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row" style="margin-left: 0px; font-size: 10px;">{{advert.rooms}}<img
                                class="card-homes-icon" src="assets/icons/bed.png" alt="My Happy SVG" /></div>
                    </div>
                    <div class="col">
                        <div class="row" style="margin-left: 0px; font-size: 10px;">{{advert.bathrooms}}<img
                                class="card-homes-icon" src="assets/icons/bath.png" alt="My Happy SVG" /></div>
                    </div>
                    <div class="col-5">
                        <div class="row" style="margin-left: 0px; font-size: 10px;">{{advert.meters}} m2<img
                                class="card-homes-icon" src="assets/icons/metters.png" alt="My Happy SVG" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row last-row">
                    <div class="col">Ciudad</div>
                    <div class="col"></div>
                    <div class="col">Dirección</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map-data">
    <div #map style="width:100%;height:600px;"></div>
</div>