#banner {
    min-height: calc(100vh);
    background: linear-gradient(to right, #FCB031, #DD064C);
}

#latest-adverts {
    min-height: calc(40vh);
    padding: 10vh;
}

.text-last-adverts {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8vh;
}

#map-data {
    min-height: calc(40vh);
}

.text-banner {
    font-size: 3rem;
    text-align: center;
    font-family: 'Nexa';
    color: white;
    animation-name: text-banner-appear;
    animation-duration: 4s;
}

@keyframes text-banner-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.input-banner {
    height: 40px;
    background: rgba(221, 6, 76, .1);
    font-size: 18px;
    color: white;
    line-height: 1.2;
    margin-top: 10vh;
    padding: 0 15px;
    outline: none;
    border: none;   
    border-radius: 25px;
    animation-name: text-banner-appear;
    animation-duration: 4s;
}

.container-inputs-banner {
    display: flex;
    justify-content: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 1rem;
    text-align: center;
    font-family: 'Nexa';
    color: white;
    animation-name: text-banner-appear;
    animation-duration: 4s;
  }

.card-homes {
    display: inline-block;
    width: 265px;
    text-align: center;
    justify-content: center;
}

.card-homes-img {
    height: 150px;
    width: 265px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
}

.card-homes-body {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background: #fff;
    margin: -20px 12px 0px 12px;
    line-height: 19px;
    font-size: 14px;
    position: relative;
}

.card-homes-title {
    margin: 20px 0px 10px 0px;
    font-size: 18px;
    text-align: center;
}

.card-homes-text {
    line-height: 19px;
    font-size: 14px;
}

.card-homes-icon {
    width: 40px;
}

.first-row, .last-row{
    color: rgba(0, 0, 0, 0.55);
    line-height: 1.5;
    font-size: 12px;
}

.col {
    display: flex;
    justify-content: center;
}